Reminders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Reminder">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Title" type="xsd:string" />
				<xsd:element name="Date" type="xsd:date" />
				<xsd:element name="Time" type="xsd:time" />
				<xsd:element name="Description" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>